<h4>Catalogue</h4>
<h5>Store number: <%= @store.id %> / Store name: <%= @store.name %></h5>

<table class="table table-striped">
  <tr>
    <th>Product name</th>
    <th>Product price</th>
    <th>Disponibility</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @product_stores.each do |product| %>
      <tr>
        <td><%= product.product.name %></td>
        <td><%= product.product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to "Details", store_product_store_path(@store,product), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to "Edit", edit_store_product_store_path(@store,product), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to "Remove", store_product_store_path(@store,product), method: :delete, class: 'btn btn-danger btn-xs' %></td>
      <tr>
  <% end %>
</table>

<%= link_to 'Add product', new_store_product_store_path(@store), class: 'btn btn-info' %>