<div class="row">
  <div class="col-md-12">

    <h4>Add product to stock</h4>
    <h5>Store number: <%= @store.id %> / Store name: <%= @store.name %></h5>

    <div class="well">
      <%= form_for [@store, @product_store] do |f| %>
          <div class="form-group">
            <label>Product:</label>
            <%= f.select(:product_id, Product.all.collect {|a| [a.name, a.id]}, {}, class: 'form-control')%>
          </div>

          <div class="form-group">
            <%= f.number_field :quantity, {class: 'form-control', placeholder: "Quantity"} %>
          </div>

          <%= f.submit "Add", class: 'btn btn-primary' %>
      <% end %>
    </div>

    <%= link_to "Back", store_product_stores_path(@store), class: 'btn btn-info' %>


  </div>
</div>
