<h3>Welcome to POS system of 7eleven Japan</h3>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h4>Employee number: <%= current_employee.id %></h4>
      <p><%= current_employee.name %> <%= current_employee.lastname %></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h4>Store number: <%= @store.id %></h4>
      <p><%= @store.name %></p>
      <p>Opening hour: <%= @store.opening_hour.strftime('%H:%M') %></p>
      <p>Closing hour: <%= @store.closing_hour.strftime('%H:%M') %></p>
    </div>
  </div>

</div>

