<body class="imagebg">

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <img class="img-responsive img-center" src="http://vignette3.wikia.nocookie.net/logopedia/images/b/b4/7-Eleven-Logo.PNG/revision/latest/scale-to-width-down/2000?cb=20140919030649" width="500"/>
    <br>

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="well">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, {class: 'form-control', placeholder: "Email", autofocus: true} %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, {class: 'form-control', placeholder: "Password", autofocus: true} %>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
      <% end %>

    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
</body>



