<div class="row">
  <div class="col-md-8">
    <h4>Today shipments: <%= (Time.now - 5.hours).strftime('%m-%d-%y') %></h4>
    <h5>Store number: <%= @store.id %> / Store name: <%= @store.name %></h5>
  </div>
</div>

<h5>Pending shipments</h5>

<table class="table table-striped">
  <tr>
    <th>Shipment ID</th>
    <th>Arrival time</th>
    <th></th>
  </tr>
  <% @shipments.waiting.each do |shipment| %>
      <tr>
        <td><%= shipment.id %></td>
        <td><%= shipment.requested %></td>
        <td><%= link_to 'Details', store_shipment_path(@store,shipment), class: 'btn btn-info' %></td>
      </tr>
  <% end %>
</table>

<h5>Completed time</h5>

<table class="table table-striped">
  <tr>
    <th>Shipment ID</th>
    <th>Received time</th>
    <th></th>
  </tr>
  <% @shipments.delivered.each do |shipment| %>
      <tr>
        <td><%= shipment.id %></td>
        <td><%= shipment.requested %></td>
        <td><%= link_to 'Details', store_shipment_path(@store,shipment), class: 'btn btn-info' %></td>
      </tr>
  <% end %>
</table>
